
networks:
 default:
   name: elastic
   external: false


services:
 
 setup:
   image: docker.elastic.co/elasticsearch/elasticsearch:${STACK_VERSION}
   user: "0"
   volumes:
     - ./elk-data/certs:/usr/share/elasticsearch/config/certs
     - ./ELK/setup.sh:/usr/local/bin/setup.sh
     - ./elk-data/elasticsearch:/usr/share/elasticsearch/data
     - ./elk-data/kibanadata:/usr/share/kibana/data
   env_file:
     - .env
   entrypoint: ["/bin/bash", "/usr/local/bin/setup.sh"]
   mem_limit: ${ES_MEM_LIMIT}
  #  ulimits:
  #    memlock:
  #      soft: -1
  #      hard: -1
   healthcheck:
     test: ["CMD-SHELL", "[ -f config/certs/es01/es01.crt ]"]
     interval: 1s
     timeout: 5s
     retries: 120

 es01:
   depends_on:
     setup:
       condition: service_healthy
   image: docker.elastic.co/elasticsearch/elasticsearch:${STACK_VERSION}
   labels:
     co.elastic.logs/module: elasticsearch
   volumes:
      - ./elk-data/certs:/usr/share/elasticsearch/config/certs
      - ./elk-data/elasticsearch:/usr/share/elasticsearch/data
   ports:
     - ${ES_PORT}:9200
   environment:
     - node.name=es01
     - cluster.name=${CLUSTER_NAME}
     - ELASTIC_PASSWORD=${ELASTIC_PASSWORD}
     # FORCE SINGLE NODE to bypass vm.max_map_count check
     - discovery.type=single-node 
     # Disable memory swapping checks
     - bootstrap.memory_lock=false 
     - xpack.security.enabled=true
     - xpack.security.http.ssl.enabled=true
     - xpack.security.http.ssl.key=certs/es01/es01.key
     - xpack.security.http.ssl.certificate=certs/es01/es01.crt
     - xpack.security.http.ssl.certificate_authorities=certs/ca/ca.crt
     - xpack.security.transport.ssl.enabled=true
     - xpack.security.transport.ssl.key=certs/es01/es01.key
     - xpack.security.transport.ssl.certificate=certs/es01/es01.crt
     - xpack.security.transport.ssl.certificate_authorities=certs/ca/ca.crt
     - xpack.security.transport.ssl.verification_mode=certificate
     - xpack.license.self_generated.type=${LICENSE}
     # LIMIT MEMORY to prevent crashes
     - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
   mem_limit: ${ES_MEM_LIMIT}
  #  ulimits:
  #    memlock:
  #      soft: -1
  #      hard: -1
   healthcheck:
     test:
       [
         "CMD-SHELL",
         "curl -s --cacert config/certs/ca/ca.crt https://localhost:9200 | grep -q 'missing authentication credentials'",
       ]
     interval: 10s
     timeout: 10s
     retries: 120

 kibana:
   depends_on:
     es01:
       condition: service_healthy
   image: docker.elastic.co/kibana/kibana:${STACK_VERSION}
   labels:
     co.elastic.logs/module: kibana
   volumes:
     - ./elk-data/certs:/usr/share/kibana/config/certs
     - ./elk-data/kibanadata:/usr/share/kibana/data
   ports:
     - ${KIBANA_PORT}:5601
   environment:
     - SERVERNAME=kibana
     - ELASTICSEARCH_HOSTS=https://es01:9200
     - ELASTICSEARCH_USERNAME=kibana_system
     - ELASTICSEARCH_PASSWORD=${KIBANA_PASSWORD}
     - ELASTICSEARCH_SSL_CERTIFICATEAUTHORITIES=config/certs/ca/ca.crt
     - XPACK_SECURITY_ENCRYPTIONKEY=${ENCRYPTION_KEY}
     - XPACK_ENCRYPTEDSAVEDOBJECTS_ENCRYPTIONKEY=${ENCRYPTION_KEY}
     - XPACK_REPORTING_ENCRYPTIONKEY=${ENCRYPTION_KEY}
   mem_limit: ${KB_MEM_LIMIT}
   healthcheck:
     test:
       [
         "CMD-SHELL",
         "curl -s -I http://localhost:5601 | grep -q 'HTTP/1.1 302 Found'",
       ]
     interval: 10s
     timeout: 10s
     retries: 120

 