# ==============================================================================
# ELK STACK CONFIGURATION
# ==============================================================================

# Version of Elastic products
STACK_VERSION=9.2.3

# Password for the 'elastic' user (at least 6 characters)
# @IMPORTANT: CHANGE THIS ON YOUR LOCAL .env
ELASTIC_PASSWORD=

# Password for the 'kibana_system' user (at least 6 characters)
# @IMPORTANT: CHANGE THIS ON YOUR LOCAL .env
KIBANA_PASSWORD=

# Set the cluster name
CLUSTER_NAME=elk

# Set to 'basic' or 'trial' to automatically start the 30-day trial
LICENSE=basic

# Ports to expose to the host
ES_PORT=9200
KIBANA_PORT=5601

# Memory limits (Increase or decrease based on the available host memory)
ES_MEM_LIMIT=4294967296
KB_MEM_LIMIT=1073741824
LS_MEM_LIMIT=1073741824

# Encryption Key for Kibana (openssl rand -base64 32)
# @IMPORTANT: CHANGE THIS ON YOUR LOCAL .env
ENCRYPTION_KEY=

# ==============================================================================
# BACKEND CONFIGURATION
# ==============================================================================

# the 'x-internal-secret' http header value that must be sent with internal http request 
INTERNAL_API_SECRET = ""

# JWT Secret for signing access tokens
# @IMPORTANT: NEVER LEAVE THIS EMPTY OR PLAIN IN PRODUCTION
JWT_ACCESS_SECRET="ChooseLongPassword"
JWT_REFRESH_SECRET="ChooseLongPassword"
SALT_ROUNDS="10" 

# OAuth Credentials (Get these from Google/Github Developer Console)
GOOGLE_OAUTH_ID=""
GOOGLE_OAUTH_SECRET=""
GITHUB_OAUTH_ID=""
GITHUB_OAUTH_SECRET=""

# Database path (Relative to the container)
DATABASE_URL=file:/app/dev.db
# Node Environment
NODE_ENV=development

# frontend configuration

AVATARS_STORAGE_PATH=/app/public/avatars