DATABASE_URL="file:./dbname.db"
JWT_ACCESS_SECRET = "ChooseLongPassword"
JWT_REFRESH_SECRET = "ChooseLongPassword"
SALT_ROUNDS = "10" 
GITHUB_OAUTH_ID = ""
GITHUB_OAUTH_SECRET = ""
GOOGLE_OAUTH_ID = ""
GOOGLE_OAUTH_SECRET = ""
INTERNAL_API_SECRET = ""