@import "tailwindcss";

@font-face {
  font-family: "solo";
  src: url("/fonts/SoloLevelDemo.otf") format("opentype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

.font-solo {
  font-family: "SoloLeveling", serif !important;
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}
