@import "tailwindcss";
@font-face
{
    font-family: 'SoloLeveling';
    src: url('./frontend/fonts/solo_level/SoloLevelDemo.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.custom-checkbox {
      width: 22px;               /* Bigger size */
      height: 22px;
      border: 2px solid #5F3779; /* Purple border */
      border-radius: 4px;        /* Slightly rounded */
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      transition: 0.2s;
}
/* The checkmark (hidden by default) */
.custom-checkbox::after {
  content: "";
  width: 12px;
  height: 12px;
  border-right: 3px solid #2A3FA1; /* Blue color */
  border-bottom: 3px solid #2A3FA1;
  transform: rotate(45deg);
  opacity: 0;
  transition: 0.2s;
}
/* Show checkmark when checkbox checked */
.peer:checked + .custom-checkbox::after {
  opacity: 1;
}